<div class="container" ng-app="newMapsApp" ng-controller="scopeController as vm" >
  <h1>Map {{p.latLongArray}}</h1>
  <body>
 <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">

  <ng-map center="33,-117" zoom="10" map-type-id="MapTypeId.SATELLITE"><marker ng-repeat="p in vm.syncObject"
  position="{{p.latLongArray}}"
  data="{{syncObject[$index]}}"
  on-click="showData()";
  title="{{p.name}}"
  ></ng-map>{{p.latLongArray}}
  </div>

  </body>
</div>
