<div class="container" ng-app="app" ng-controller="scopeController as vm" >
  <h1>Map Hello{{p.latLongArray}}</h1>
  <body>
  <div>
  <ng-map center="35,-115" zoom="6" class="mapcontainer">
  <map-data set-style="vm.styleFunction"
        on-click="vm.onClick()"
        on-mouseover="vm.onMouseover()"
        on-mouseout="vm.onMouseout()" load-geo-json="https://dl.dropboxusercontent.com/s/qjes2jckauj00l5/map.geojson"></map-data>
  <!--<marker id="{{p.$id}}" ng-repeat="p in vm.mapInfo"
  icon="{{vm.customMarker}}"
  position="{{p.latLongArray}}"
  data="{{syncObject[$index]}}"
  on-click="vm.showData(p)"
  title="{{p.name}}
  {{p.address}}
  {{p.city}} {{p.state}}
  {{p.Mobile}}"
  ></marker> -->
  </ng-map>
  </div>
  <br>
  <br>
<div align="right">
   <label for="singleSelect">Select to query DB of selected State: </label><br>
    <select name="singleSelect" id="singleSelect" ng-model="vm.stateOption">
      <option value="">---Please select---</option> <!-- not selected / blank option -->
     <option ng-repeat="state in vm.stateQuery" value="{{state.abbreviatedName}}">{{state.fullName}}</option> <!-- interpolation -->
  </select><br>
    <button ng-model="vm.stateOption" ng-click="vm.checker(vm.stateOption)">Confirm selection</button><br>
    </div>
 <br>
 <br>
  <div align="right">
   <label for="singleSelect">Select to show store groupings based on size of local population: </label><br>
    <select name="singleSelect" id="singleSelect" ng-model="vm.optionA">
      <option value="">---Please select---</option> <!-- not selected / blank option -->
   <option ng-repeat="option in vm.popSelectorArray" value="{{option}}">{{option}} or greater</option> <!-- interpolation -->
  </select><br>
    <button ng-model="vm.optionA" ng-click="vm.selectPop(vm.optionA)">Confirm selection</button><br>
    </div>
    <br>
    <br>
  <form>
  <div class="form-group">
    <div class="input-group">
    <div class="input-group-addon"><i class ="fa fa-search"></i></div>
    <input type="text" class="form-control" placeholder="Search both linked databases by store name, address, city or zip." ng-model="searchStates"></input>
    </div>
    </div>
    </form>
  <table class="table table-bordered table-striped"><thead>
    <tr><th>Name</th><th>Address</th><th>City</th><th>State</th><th>Zip</th><th>Delivery</th><th>Phone</th><th>zip code population</th></tr>
  </thead>
  <tbody>
  <tr ng-repeat="shop in vm.mapInfo | orderBy: state | filter: searchStates | limitTo: limit ">
  <td>{{shop.name}}</td>
  <td>{{shop.address}}</td>
  <td>{{shop.city}}</td>
  <td>{{shop.state}}</td>
  <td>{{shop.zip}}</td>
  <td>{{shop.delivery}}</td>
  <td>{{shop.Mobile}}</td>
  <td>{{shop.pop}}</td>
  </tr>
  </tbody>
 </table> 

 <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Store Information</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in contents">
                    
                </li>
            </ul>
          
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
   <!--  <uib-pagination
 ng-model="currentPage"
 total-items="totalItems"
 max-size="maxSize"
 boundary-links="true">
 </uib-pagination>
-->
 <br>
  <br>
  <!--
<h3>Zip Code and Population</h3>
  <table class="table table-bordered table-striped" ng-model="searchStates"><thead>
    <tr><th>City</th><th>State</th><th>Zip</th><th>Population</th></tr>
  </thead>
  <tbody>
  <tr ng-repeat="loc in locationArray | orderBy: state | filter: searchStates | limitTo: limit">
  <td>{{loc.city}}</td>
  <td>{{loc.state}}</td>
  <td>{{loc._id}}</td>
  <td>{{loc.pop}}</td>
  </tr>
  </tbody>
 </table> -->
</div>